.contact-form h1 {
  font-style: italic;
  font-weight: 300;
}

.contact-form form {
  background-color: rgb(181, 131, 99);
  margin: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form form label {
  font-size: larger;
}

.contact-form input {
  width: 400px;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-top: 0;
  padding-left: 0;
  height: auto;
}

.message-input {
  padding-bottom: 150px;
}

.contact-form input[type="text"]::placeholder {
  text-align: left;
  position: absolute;
  top: 0%;
}

.contact-submit-button {
  background-color: #EBC4A8;
  border-width: 1px;
  border-color: rgba(250, 185, 142, 0.452);
}

.contact-submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contact-submit-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contact-submit-button:hover span {
  padding-right: 25px;
}

.contact-submit-button:hover span:after {
  opacity: 1;
  right: 0;
}

.error-text {
  font-style: italic;
}