.portfolio-div h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.card1 {
    background-image: url(../assets/Vet-Tech.png);
}

.card2 {
    background-image: url(../assets/Employee-Tracker.png);
}

.card3 {
    background-image: url(../assets/E-Commerce.png);
}

.card4 {
    background-image: url(../assets/Social-Network.png);
}

.card5 {
    background-image: url(../assets/JATE.png);
}

.card6 {
    background-image: url(../assets/Weather-Dashboard.png);
}

.portfolio-card-img {
    width: 3rem;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.portfolio-card-img:hover {
    transition: all 0.65s;
    transform: rotateY(360deg);
    }