.card1 {
    background-image: url(../assets/Social-Network-API.png);
}

.card2 {
    background-image: url(../assets/Employee-Tracker.png);
}

.card3 {
    background-image: url(../assets/Pure-Momentum-Workout.png);
}