.about-me-info h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.about-me-info p {
    text-align: center;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
}

@media screen and (max-width: 992px) {
    .about-me-info p {
        text-align: center;
        padding: 10px;
    }
}