.header {
    display: flex;
    justify-content: center;
    background-color: #EBC4A8;
}

.header img {
    width: 45%;
}

@media screen and (max-width: 992px) {
    .header img {
        width: 100%;
    }
}