.nav a {
    color: #B58363;
    font-size: 20px;
    font-weight: 500;
}

.nav a:hover {
    color: #523000;
}

a.nav-link.active {
    color: #523000;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .nav {
        display: block;
        flex-direction: column;
        text-align: center;
        line-height: 1;
    }
}