.card a {
    text-decoration: none;
    color: transparent;
    font-weight: 200;
    font-size: 40px;
    color: black;
}

.portfolio-div {
    justify-content: center;
    overflow-x: hidden;
}

.row {
    justify-content: center;
}

.portfolio-div h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.card1 {
    background-image: url(/Vet-Tech.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.card2 {
    background-image: url(/Employee-Tracker.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.card3 {
    background-image: url(/E-Commerce.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.card4 {
    background-image: url(/Social-Network.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.card5 {
    background-image: url(/JATE.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.card6 {
    background-image: url(/Weather-Dashboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 450px;
    margin: 20px;
}

.portfolio-card-img {
    width: 100px;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.portfolio-card-img:hover {
    transition: all 0.65s;
    transform: rotateY(360deg);
}

.card {
    display: block;
    position: relative;
    border-radius: 4px;
    padding: 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: rgb(181, 131, 99);
        height: 1px;
        width: 1px;
        transform: scale(1);
        transform-origin: 50% 50%;
        transition: transform .5s;
    }

    &:hover:before {
        transform: scale(2000);
    }
}

.hidden {
    opacity: 0;
}

.hidden:hover {
    opacity: 1;
    transition: opacity 1.6s;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
    
    .card2 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
    
    .card3 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
    
    .card4 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
    
    .card5 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
    
    .card6 {
        width: 300px;
        height: 250px;
        margin: 20px;
    }
}