.portfolio-div h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.card {
    /* width: 50rem;
    height: auto; */
}

.card1 {
    background-image: url(/Vet-Tech.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.card2 {
    background-image: url(/Employee-Tracker.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.card3 {
    background-image: url(/E-Commerce.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.card4 {
    background-image: url(/Social-Network.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.card5 {
    background-image: url(/JATE.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.card6 {
    background-image: url(/Weather-Dashboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
}

.portfolio-card-img {
    width: 3rem;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.portfolio-card-img:hover {
    transition: all 0.65s;
    transform: rotateY(360deg);
    }