.resume-div h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.resume-div p {
    text-align: center;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
}

.card {
    background-color: rgb(181, 131, 99);
}

.resume-div ul li {
    list-style-type: none;
}

.resume-div a {
    color: #523000
}