.resume-div h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
}

.resume-div p {
    text-align: center;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
}

.card {
    background-color: rgb(181, 131, 99);
}

.resume-div ul li {
    list-style-type: none;
}

.resume-div a {
    color: #523000
}

@media screen and (max-width: 992px) {
    .resume-div p {
        text-align: center;
        padding: 10px;
    }

    .card-body {
        padding: 0;
    }

    .resume-div ul {
        text-align: left;
        padding-left: 0;
    }

    .resume-div h1 {
        display: none;
    }
}